* {
    box-sizing: border-box;
}


:root {
    --color1: #D89584;
    --color2: #F4F4F4;
}

body {
    margin: 0;
    font-family: Arial;
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    
}

iframe {
    width: 100%;
    border: none;
    height: 350px;
}

            
div.cover {
    background: url(cover_overlay.png) no-repeat center/100% 100%, url(cover.jpg) no-repeat center/cover;
    height: 360px;
    position: relative;
}

img.cover-profile {
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 50px;
    
}
            
h1 {
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 0px;
}

div.cover p {
    color: lightgrey;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
            
div.cover-contact {
    /*background-color: #FF000080;*/
    position: absolute;
    top: 16px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    
}

div.cover-contact p {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
            
div.cover-contact p:first-child{
    margin-bottom: 14px;
}

div.cover-contact a {
    color: white;
    font-size: 14px;
}

a.contact-button {
    color: var(--color1);
    border: 3px solid var(--color1);
    padding: 8px 20px;
    text-decoration: none;
    background-color: #00000040;
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    
    
}
            
a.contact-button:hover {
    color: white;
    border: 3px solid white;
}
.section {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
    
}
div.section-grise1 {
    background: url(triangle2white.svg) no-repeat center bottom -1px/100%;
    background-color: var(--color2);
    padding-bottom: 120px;
}
div.separateur {
    background-color: #979797;
    height: 1px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
div.section-grise1 p {
    text-align: center;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    line-height: 1.5;
}
.colonne40 {
    width: 40%;
}
.colonne60 {
    width: 60%;
}
.float-right {
    float: right;
}

div.texte-avec-ligne-vertical {
    margin-top: 0;
    border-left: 4px solid var(--color1);
    padding-left : 8px;
    height: 50px;
    display: inline-block;
}
div.texte-avec-ligne-vertical p {
    margin-top: 0;
}

div.section-grise2 {
    background: url(triangle1white.svg) no-repeat center top/100%;
    background-color: var(--color2);
    padding-top: 120px;
}


h2 {
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
}

div.barre-verticale {
    height: 50px;
    width: 4px;
    background-color: var(--color1);
    margin-right: 8px;
}

.col-portfolio {
    width: 48%;
}

div.frame {
    margin: 30px 50px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0px 0px 8px 8px rgba(0,0,0, 0.1);
}

p.frame-title {
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* PORTFOLIO */
.portfolio-header {
    height: 90px;
    background: url(header.jpg) no-repeat center/cover;
    position: relative;
}

.portfolio-header-title {
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding-top: 2px;
    padding-left: 8px;
}

h1.portfolio {
    font-size: 46px;
    color: black;
    line-height: 1.2;
    padding-top: 10px;
}

h2.portfolio {
    font-size: 26px;
    color: black;
    font-weight: normal;
    margin-bottom: 0px;
}

a.portfolio-back {
    color: var(--color1);
    margin-left: -20px;
}



/* RESPONSIVE DESIGN : mobile*/

@media only screen and (max-width: 450px) {
    img.cover-profile {
        height: 85px;
        margin-top: 70px;
        
    }
                
    h1 {
        color: white;
        text-align: center;
        font-size: 42px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    div.cover p {
        color: lightgrey;
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
    }

    div.cover-contact {
        top: 20px;
    
    }

    div.cover-contact p {
        text-align: left;
        margin-top: 0px;
        margin-bottom: 0px;
    }
                
    div.cover-contact p:first-child{
        margin-bottom: 10px;
    }
    
    div.cover-contact a {
        color: white;
        font-size: 12px;
    }
}
