* {
    overflow: auto;
}


body{
    background-color: #8BA1BB;
    font-family: Arial
    margin: 0;
}

p.categorie {
    background-color: black;
    color: white;
    display : inline-block;
    margin-top: -15px;
    margin-bottom: 0px;
    padding : 8px 18px;
    font-weight: bold;
    font-size: 16px;
    
}

div.contenu {
    background-color: white;
    margin: 60px 10% 80px 10%;
    padding: 0px 30px 30px 30px;
    min-width: 350px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);
    overflow: visible;
    
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    
}

p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
    
    
}

.centrer {
    text-align: center;
    width: 100%;
}

div.categorie {
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: visible;
}

div.separateur {
    width: 100px;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

div.info {
    position: relative;
}

table.info {
    position: absolute; 
    bottom:0; 
    width: 100%; 
    color: white; 
    background-color: #6C829DC0; 
    height: 80px;
}

table.info td {
    text-align: center;
    font-size: 13px;
    vertical-align: top;
}
table.info th {
    text-align: center;
    font-size: 16px;
    vertical-align: bottom;
    padding-bottom: 8px;
}

img.info {
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgrey;
}

div.colonne {
    width: 45%;
    margin-top: 20px;
}

div.colonne h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829D;
    padding-bottom: 5px;
}

div.colonne1 {
    display: inline-block;
    margin-right: 10%;
}

div.colonne2 {
    float: right;
}

div.ingredients p {
    text-align: center;
    font-size: 14px;
    border: 2px solid lightgrey;
    padding: 5px;
    margin-top: 4px;
    margin-bottom: 0;
}

table.preparation p.numero {
    background-color: #6C829D;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}

table.preparation td {
    vertical-align: top;
}

table.preparation td.preparation_etape {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}

table.preparation tr {
    height: 40px;
}

